<div class="logo"><%= image_tag "Cruisenewbie.png" %></div>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><%= link_to 'Stories', blogs_path %></li>
      <li><%= link_to 'About this page', about_page_path %></li>
      <li><%= link_to 'Authors', about_author_path %></li>
      <% if user_signed_in? %>
            <li><%= "#{current_user.email}" %></li>
            <li><%= link_to "Create Article", new_blog_path %></li>
            <li>All Authors</li>
            <li><%= link_to 'Signout', destroy_user_session_path, method: :delete %></li>
      <% end %>
    </ul>
  </div>
</nav>